html{
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: 300 11pc/1.4 'Helvetica Neue', 'san-serif';
  color: #444;
  background-image: url(../src/assets/images/image1.jpeg);
  overflow: hidden;
  background-size: cover;
  width: 100% !important ;
  height: 100px !important;
  display:flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

